{% extends "layout.html.twig" %}

{% block title %}
    Permanence - {{date}}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
     <link href="{{ asset('css/permanence.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
	{{ parent() }}
  <div class="text-center">
    <a href="{{previousMonth}}"><span class="glyphicon glyphicon-chevron-left"></span></a>
    {{ date }}
    <a href="{{nextMonth}}"><span class="glyphicon glyphicon-chevron-right"></span></a>
  	<table class="table">
      <thead>
          <tr>
              <th class="col-md-1">Lundi</th>
              <th class="col-md-1">Mardi</th>
              <th class="col-md-1">Mercredi</th>
              <th class="col-md-1">Jeudi</th>
              <th class="col-md-1">Vendredi</th>
              <th class="col-md-1">Samedi</th>
              <th class="col-md-1">Dimanche</th>
          </tr>
      </thead>
      <tbody>
          {% for week in month %}
              <tr>
                  {% for day in week %}
                      <td>
                          {% set realMonth = day.format('n') %}
                          <div class="case {{ realMonth != currentMonth ? 'disabled' }}">
                            {% set jour = day.format('j') %}
                            {{jour}}
                            {% set day_events = events.find(day) %}
                            {% if day_events|length > 0 %}
                                <div><a class="btn btn-secondary active" href="{{currentMonth}}/{{jour}}">S'inscrire</a></div>
                            {% else %}
                                <div class="stripe"></div>
                            {% endif %}
                          </div>
                      </td>
                  {% endfor %}
              </tr>
          {% endfor %}
      </tbody>
    </table>
  <div class="text-center">
{% endblock %}