{% extends "layout.html.twig" %}

{% block title %}
    Permanence
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/permanence.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
	{{ parent() }}
	<div class="text-center">
		<h1>Disponibilités de ce crénau</h1>
		<h2>{{slotRange}}</h2>
		<form action="{{slot}}" method="post">
			{% for i in 0..2 %}
				{% if  slotsTaken[i] != 0 %}
					{% set name = slotsTaken[i].name|split('@') %}
					{{name[0]}}
				{% else %}
					<button class="btn btn-lg btn-primary active" type="submit">S'inscrire</button>
				{% endif %}
			{% endfor %}
	        
	    </form>
	</div>
{% endblock %}
